.Modal,
.ConfirmationModal {
  background-color: rgb(88, 85, 85);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.Modal p,
.ConfirmationModal p {
  margin: 0 0 20px;
  color: #f4f1f1;
}
